@model List<ManagedApplicationScheduler.Services.Models.PaymentModel>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="">
    <div class="">
        <div class="card-body">
            <div class="text-center">
                <span class="cm-section-heading">Current Payment Template Summary</span>
                <button type="submit"  onclick="@("window.location.href='" + @Url.Action("NewPayment", "Payment") + "'");" class="cm-button-default text-right float-right">Add New Payment Template</button>
            </div>
        </div>
            <div id="myModal">
                @if (Model != null && Model.Count() > 0)
                {

                    <div class="table-responsive mt20">
                    <b>Current UTC time: @DateTime.UtcNow; </b>  <br />
                        <table class="table table-bordered dt-responsive cm-table" width="90%" cellspacing="0">
                            <thead class="cm-table-head">
                                <tr>

                                <th>PaymentName</th>
                                <th>Offer</th>
                                    <th>Plan</th>
                                    <th>Dimension</th>
                                    <th>Quantity</th>
                                <th>PaymentType</th>
                                    <th>Start Date (UTC)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var i = 0;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-left">
                                            @item.PaymentName
                                        </td>
                                        <td class="text-left">
                                            @item.OfferId
                                        </td>
                                        <td class="text-left">
                                            @item.PlanId
                                        </td>
                                        <td class="text-left">
                                            @item.Dimension
                                        </td>
                                        <td class="text-left">
                                            @item.Quantity
                                        </td>
                                    <td class="text-left">
                                        @item.PaymentType
                                    </td>
                                        <td class="text-left">
                                            @item.StartDate
                                        </td>
                                         <td class="text-left cm-ellipsis">
                                            <div class="nav-item dropdown">
                                                <a class="nav-link dropdown cm-link-button" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
                                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                                <a class="dropdown-item cm-dropdown-option" href="Payment/NewPayment/@item.id">Clone</a>
                                                    <a  class="dropdown-item cm-dropdown-option" href="Payment/DeletePayment/@item.id" onclick="return confirm('Are you sure?');" >Delete</a>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {

                    <div class="cm-panel-default mt40">
                        <div class="p-3 mr420">
                            <p>
                                You do not have any scheduled milestone payment yet!
                            </p>
                        </div>
                    </div>

                }
            </div>
        </div>
</div>


